<div class="col s4">
  <h5><%= @user.username %></h5>
  <div>
    <% if @user.bio == nil %>

    <% else %>
      <p><%= @user.bio %></p>
    <% end %>
  </div>
  <% if current_user.following?(@user) %>
    <div>
      <%= render 'relationships/unfollow_form' %>
    </div>
  <% else %>
    <div class="col s4">
      <%= render 'relationships/follow_form' %>
    </div>
  <% end %>
</div>
