<div class"row">
  <div style="width:100%" class="col s12 m7 splash-image">
    <div class="card">
      <div class="card-content">
        <h3 class="center header-text">Welcome to Bloglive</h3>
        <h6 class="center">Create your own blog. It's free and simple.</h6>
      </div>
      <div class="card-image">
        <div>
          
        </div>
        <%= image_tag "community.jpg", data: { title: "Join a global
        community today." } %>

      </div>
    </div>
  </div>
</div>
