<div class="parallax-container">
  <div class="parallax"><%= image_tag "community.jpg", class: 'responsive-img' %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Bloglive</h2>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.first_name %> </p>
    <% else %>
      <p class="grey-text text-darken-3 lighten-3">Welcome.</p>
      <%= link_to "Start your blog", new_user_registration_path,
          class: "btn red accent-1 white-text" %>
    <% end %>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "macandpaper.jpg", class: 'responsive-img' %></div>
</div>
